<html>
<head>
  <title></title>
</head>
<body>

  <%# image_tag ww_giant_image.jpg %>
  <div id='photo'>
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/ww_giant_image.jpg">
  </div>



</body>
</html>